html {
    font-family: "nanum gothic", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/moenster.jpg);
    background-repeat: repeat-y;
    background-size: contain;
}


/*HEADER*/

header {
    background-color: #560008;
}

header img {
    display: block;
    margin: 0 auto;
    width: 40%;
    padding: 18px 0;
}


/*MAIN-INDHOLD*/

main {
    font-size: 0.9em;
    text-align: center;
}

main h3 {
    text-align: center;
    font-size: 1.5em;
    color: #b87333;
    margin-bottom: 3%;
}

main p {
    padding: 0 50px;
    hyphens: auto;

}

.pynt {
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: -2%;
}



/*INTRO - VIDEO OG TEKST*/

.intro-video,
.familiefad-video {
    width: 100%;
}

.intro-tekst {
    padding: 4% 0;
}



/* SLIDESHOW*/

.slideshow-container {
    max-width: 100;
    position: relative;
    margin: auto;
}

/*PILE*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*Sætter frem-pilen til højre*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*Sætter tilbage-pilen til venstre*/
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}


/* Billedetekst*/
.text {
    color: white;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/*Billedenummer*/
.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*Fade-animation af billeder*/
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .3
    }

    to {
        opacity: 1
    }
}

/*KUNDE-LYDOPTAGELSER*/

.kunder-container {
    display: flex;
    flex-direction: column;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1%;
    width: 90%;
}

.kunder-container img {
    width: 60%;
}

.kunder-container p {
    padding: 0 10%;
}

.kunde {
    width: 100%;
}

.lyd {
    padding: 10px;
}

.ikon {
    font-size: 40px;
}

.ikon:hover {
    color: #560008;
    cursor: pointer;
}


/*FAMILIEFAD - TEKST OG VIDEO*/

.tekst-om-familiefad {
    margin-top: 5%;
}

.tekst-om-familiefad a {
    color: black;
}

/*FOOTER*/

footer {
    padding: 30px 0;
    background: #560008;
    color: white;
    text-align: center;
    margin-top: 40px;
}

footer h3 {
    font-size: 20px;
    color: #b87333;
}

footer p {
    font-size: 15px;
}

footer img {
    padding-top: 10px;
}

.ur {
    width: 35px;
}

.pin {
    width: 25px;
}

.map {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}

.bus {
    width: 28px;
    padding-top: 20px;
}

.tlf {
    width: 35px;
    padding-top: 20px;
}

.kontakt {
    width: 35px;
    padding: 0 7px;
    color: #560008;
}

footer a {
    text-decoration: none;
}



/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 768px) {

    header img {
        width: 25%;
    }

    header,
    main {
        margin: 0 12%;
    }

    main p {
        font-size: 1.2em;
    }

    main h3 {
        font-size: 2em;
    }

    .pynt {
        width: 60%;
        margin-bottom: 2%;
    }

    .kunder-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .kunder-container .lyd {
        width: 33%;
        padding: 15px;
    }

    .kunder-container img {
        width: 50%;
    }

    .tekst-om-familiefad {
        margin-bottom: 5%;
    }

    footer h3 {
        font-size: 20px;
    }

    footer .map {
        width: 45%;
    }

    .prev,
    .next {
        font-size: 60px;
    }

}
